<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10776992039-sktfc4fij3bhjmr5ij8apd3efu4s8v8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10776992039-sktfc4fij3bhjmr5ij8apd3efu4s8v8j</string>
	<key>API_KEY</key>
	<string>AIzaSyCpZeWmD3OFSLxsYlKvc2U_CG56raUPadw</string>
	<key>GCM_SENDER_ID</key>
	<string>10776992039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmc.hannib</string>
	<key>PROJECT_ID</key>
	<string>hannib-7b6f4</string>
	<key>STORAGE_BUCKET</key>
	<string>hannib-7b6f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10776992039:ios:e15d7e7da3355624ffb102</string>
</dict>
</plist>